<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>YaST2 NFS Server Configurator</vendor>
  <vendor_url>https://github.com/MoisesMT2905/Nfs-server-configurator</vendor_url>

  <action id="org.yast2.nfshelper.configure">
    <description>Configure NFS server exports</description>
    <message>Authentication is required to configure NFS server exports</message>
    <icon_name>drive-harddisk</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/yast2-nfs-helper</annotate>
    <annotate key="org.freedesktop.policykit.imply">org.freedesktop.systemd1.manage-units</annotate>
  </action>
</policyconfig>
